{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}

<!-- Homepage Feature -->
<div class="homepage-feature">
	{{widget('feature', 'featurehome', {
		'header': 'Capital-Efficient Foundation 
for Global Disruptors',
		'strapline': 'Nauta backs entrepreneurs that share our vision to create global disruptors, in large spaces, where technology has had limited impact.',
		'defaultBgImg': asset("images/feature-bg.jpg"),
		'positionTopPercentage': '0',
		'showBtn': true,
		buttonText: "View our portfolio"
	})|raw}}
	<div class="homepage-signup">
		<div class="contain">
			<div class="leftdiv">
				{{widget('signupform', 'emailsignup', {
				  'text': 'Submit',
				  'label': 'Sign up to our newsletter:',
				  'formTitle': 'Signup Form',
				  'email': 'profile'
				})|raw}}
			</div>
			<div class="rightdiv">
				{{widget('content', 'sidebarcontent', {
  					content: '<p style="font-style: italic">"£250 million under capital management"</p>'
				})|raw}}
			</div>
		</div>
	</div>
</div>
<!-- End Homepage Feature -->

<!-- Owl Carousel !-->
<div class="container container--home">
<div id="owl-demo" class="owl-carousel">
    <!-- Slide 1 !-->
    <div class="item">
        <div class="img-post">
            {{widget('image', 'client-block1', { 'src': asset('images/carousel/client1.jpg')})|raw}}
            {{widget('image', 'logo-block1', { 'src': asset('images/carousel/logo1.jpg')})|raw}}
            {{widget('content', 'name-block1', {"content":'<p><b>Ben Edmond</b> </p>'})|raw}}
            {{widget('content', 'companyname-block1', {"content":'<p>Connected2fiber</p>'})|raw}}
            {{widget('content', 'website-block1', {"content":'<p>www.connected2fiber.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 2 !-->
    <div class="item">
        <div class="img-post">
            {{widget('image', 'client-block2', { 'src': asset('images/carousel/client2.jpg')})|raw}}
            {{widget('image', 'logo-block2', { 'src': asset('images/carousel/logo2.jpg')})|raw}}
            {{widget('content', 'name-block2', {"content":'<p><b>Joaquin Villalba & Carlos Miragall</b></p>'})|raw}}
            {{widget('content', 'companyname-block2', {"content":'<p>Nextail</p>'})|raw}}
            {{widget('content', 'website-block2', {"content":'<p>www.nextail.co</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 3 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block3', { 'src': asset('images/carousel/client3.jpg')})|raw}}
            {{widget('image', 'logo-block3', { 'src': asset('images/carousel/logo3.jpg')})|raw}}
            {{widget('content', 'name-block3', {"content":'<p><b>Lodgify Team</b></p>'})|raw}}
            {{widget('content', 'companyname-block3', {"content":'<p>Lodgify</p>'})|raw}}
            {{widget('content', 'website-block3', {"content":'<p>www.lodgify.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 4 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block4', { 'src': asset('images/carousel/client4.jpg')})|raw}}
            {{widget('image', 'logo-block4', { 'src': asset('images/carousel/logo4.jpg')})|raw}}
            {{widget('content', 'name-block4', {"content":'<p><b>Jaime Sanchez-Laulhe</b> </p>'})|raw}}
            {{widget('content', 'companyname-block4', {"content":'<p>Geoblink</p>'})|raw}}
            {{widget('content', 'website-block4', {"content":'<p>www.geoblink.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 5 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block5', { 'src': asset('images/carousel/client5.jpg')})|raw}}
            {{widget('image', 'client-block5', { 'src': asset('images/carousel/logo5.jpg')})|raw}}
            {{widget('content', 'name-block5', {"content":'<p><b>Image Title Five</b> </p>'})|raw}}
            {{widget('content', 'companyname-block5', {"content":'<p>Content Raven</p>'})|raw}}
            {{widget('content', 'website-block5', {"content":'<p>www.contentraven.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 6 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block6', { 'src': asset('images/carousel/client6.jpg')})|raw}}
            {{widget('image', 'logo-block6', { 'src': asset('images/carousel/logo6.jpg')})|raw}}
            {{widget('content', 'name-block6', {"content":'<p><b>Jon Beckett</b> </p>'})|raw}}
            {{widget('content', 'companyname-block6', {"content":'<p>ChannelSight</p>'})|raw}}
            {{widget('content', 'website-block6', {"content":'<p>www.channelsight.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 7 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block7', { 'src': asset('images/recent-news/Home_Page_Cutting_02.jpg')})|raw}}
            {{widget('image', 'logo-block7', { 'src': asset('images/carousel/logo7.jpg')})|raw}}
            {{widget('content', 'name-block7', {"content":'<p><b>Emilio Martinez</b> </p>'})|raw}}
            {{widget('content', 'companyname-block7', {"content":'<p>Agnitio</p>'})|raw}}
            {{widget('content', 'website-block7', {"content":'<p>www.agnitio-corp.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 8 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block8', { 'src': asset('images/recent-news/Home_Page_Cutting_03.jpg')})|raw}}
            {{widget('image', 'logo-block8', { 'src': asset('images/carousel/logo8.jpg')})|raw}}
            {{widget('content', 'name-block8', {"content":'<p><b>Lucas Carne & Jose Manuel Villanueva</b> </p>'})|raw}}
            {{widget('content', 'companyname-block8', {"content":'<p>Privalia</p>'})|raw}}
            {{widget('content', 'website-block8', {"content":'<p>www.privalia.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 9 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block9', { 'src': asset('images/recent-news/Home_Page_Cutting_03.jpg')})|raw}}
            {{widget('image', 'logo-block9', { 'src': asset('images/carousel/logo9.jpg')})|raw}}
            {{widget('content', 'name-block9', {"content":'<p><b>Eyeview Team</b> </p>'})|raw}}
            {{widget('content', 'companyname-block9', {"content":'<p>Eyeview</p>'})|raw}}
            {{widget('content', 'website-block9', {"content":'<p>www.eyeviewdigital.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 10 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block10', { 'src': asset('images/recent-news/Home_Page_Cutting_03.jpg')})|raw}}
            {{widget('image', 'logo-block10', { 'src': asset('images/carousel/logo10.jpg')})|raw}}
            {{widget('content', 'name-block10', {"content":'<p><b>Christophe Primault</b> </p>'})|raw}}
            {{widget('content', 'companyname-block10', {"content":'<p>Nubera</p>'})|raw}}
            {{widget('content', 'website-block10', {"content":'<p>www.nubera.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 11 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block11', { 'src': asset('images/recent-news/Home_Page_Cutting_03.jpg')})|raw}}
            {{widget('image', 'logo-block11', { 'src': asset('images/carousel/logo11.jpg')})|raw}}
            {{widget('content', 'name-block11', {"content":'<p><b>Timo Fischer & Nicola Szekely</b> </p>'})|raw}}
            {{widget('content', 'companyname-block11', {"content":'<p>My Sport Group</p>'})|raw}}
            {{widget('content', 'website-block11', {"content":'<p>www.mysportgroup.de/p>'})|raw}}
        </div>
    </div>
    <!-- Slide 12 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block12', { 'src': asset('images/recent-news/Home_Page_Cutting_03.jpg')})|raw}}
            {{widget('image', 'logo-block12', { 'src': asset('images/carousel/logo12.jpg')})|raw}}
            {{widget('content', 'name-block12', {"content":'<p><b>David Inns</b> </p>'})|raw}}
            {{widget('content', 'companyname-block12', {"content":'<p>Greatcall</p>'})|raw}}
            {{widget('content', 'website-block12', {"content":'<p>www.greatcall.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 13 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block13', { 'src': asset('images/cuttings/Features_Cutting_01.jpg')})|raw}}
            {{widget('image', 'logo-block13', { 'src': asset('images/carousel/logo13.jpg')})|raw}}
            {{widget('content', 'name-block13', {"content":'<p><b>Image Title 13</b> </p>'})|raw}}
            {{widget('content', 'companyname-block13', {"content":'<p>Abiquo</p>'})|raw}}
            {{widget('content', 'website-block13', {"content":'<p>www.abiquo.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 14 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block14', { 'src': asset('images/cuttings/Features_Cutting_01.jpg')})|raw}}
            {{widget('image', 'logo-block14', { 'src': asset('images/carousel/logo14.jpg')})|raw}}
            {{widget('content', 'name-block14', {"content":'<p><b>Giles Palmer</b> </p>'})|raw}}
            {{widget('content', 'companyname-block14', {"content":'<p>Brandwatch</p>'})|raw}}
            {{widget('content', 'website-block14', {"content":'<p>www.brandwatch.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 15 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block15', { 'src': asset('images/cuttings/Features_Cutting_01.jpg')})|raw}}
            {{widget('image', 'logo-block15', { 'src': asset('images/carousel/logo15.jpg')})|raw}}
            {{widget('content', 'name-block15', {"content":'<p><b>Andres Bou, Horacio Martos & Marc Canaleta</b> </p>'})|raw}}
            {{widget('content', 'companyname-block15', {"content":'<p>Social Point</p>'})|raw}}
            {{widget('content', 'website-block15', {"content":'<p>www.socialpoint.es</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 16 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block16', { 'src': asset('images/cuttings/Features_Cutting_01.jpg')})|raw}}
            {{widget('image', 'logo-block16', { 'src': asset('images/carousel/logo16.jpg')})|raw}}
            {{widget('content', 'name-block16', {"content":'<p><b>Pere Valles</b> </p>'})|raw}}
            {{widget('content', 'companyname-block16', {"content":'<p>Scytl</p>'})|raw}}
            {{widget('content', 'website-block16', {"content":'<p>www.scytl.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 17 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block17', { 'src': asset('images/cuttings/Features_Cutting_01.jpg')})|raw}}
            {{widget('image', 'logo-block17', { 'src': asset('images/carousel/logo17.jpg')})|raw}}
            {{widget('content', 'name-block17', {"content":'<p><b>Janet Kosloff & Diane Hayes</b> </p>'})|raw}}
            {{widget('content', 'companyname-block17', {"content":'<p>InCrowd</p>'})|raw}}
            {{widget('content', 'website-block17', {"content":'<p>www.incrowdnow.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 18 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block18', { 'src': asset('images/cuttings/Features_Cutting_01.jpg')})|raw}}
            {{widget('image', 'logo-block18', { 'src': asset('images/carousel/logo18.jpg')})|raw}}
            {{widget('content', 'name-block18', {"content":'<p><b>Image Title 19</b> </p>'})|raw}}
            {{widget('content', 'companyname-block18', {"content":'<p>AirSense</p>'})|raw}}
            {{widget('content', 'website-block18', {"content":'<p>www.airsensewireless.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 19 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block19', { 'src': asset('images/cuttings/Features_Cutting_01.jpg')})|raw}}
            {{widget('image', 'logo-block19', { 'src': asset('images/carousel/logo19.jpg')})|raw}}
            {{widget('content', 'name-block19', {"content":'<p><b>Juan Lobato</b></p>'})|raw}}
            {{widget('content', 'companyname-block19', {"content":'<p>Basekit</p>'})|raw}}
            {{widget('content', 'website-block19', {"content":'<p>www.basekit.com</p>'})|raw}}
        </div>
    </div>
        <!-- Slide 20 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block20', { 'src': asset('images/recent-news/Home_Page_Cutting_03.jpg')})|raw}}
            {{widget('image', 'logo-block20', { 'src': asset('images/carousel/logo20.jpg')})|raw}}
            {{widget('content', 'name-block20', {"content":'<p><b>Albert Bosch</b> </p>'})|raw}}
            {{widget('content', 'companyname-block20', {"content":'<p>Groupalia</p>'})|raw}}
            {{widget('content', 'website-block20', {"content":'<p>www.groupalia.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 21 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block21', { 'src': asset('images/recent-news/Home_Page_Cutting_03.jpg')})|raw}}
            {{widget('image', 'logo-block21', { 'src': asset('images/carousel/logo21.jpg')})|raw}}
            {{widget('content', 'name-block21', {"content":'<p><b>Peter Ryan</b> </p>'})|raw}}
            {{widget('content', 'companyname-block21', {"content":'<p>iJento</p>'})|raw}}
            {{widget('content', 'website-block21', {"content":'<p>www.ijento.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 22 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block22', { 'src': asset('images/cuttings/Features_Cutting_01.jpg')})|raw}}
            {{widget('image', 'logo-block22', { 'src': asset('images/carousel/logo22.jpg')})|raw}}
            {{widget('content', 'name-block22', {"content":'<p><b>Xavi Beumala & Juan Margenat</b> </p>'})|raw}}
            {{widget('content', 'companyname-block22', {"content":'<p>Marfeel</p>'})|raw}}
            {{widget('content', 'website-block22', {"content":'<p>www.marfeel.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 23 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block23', { 'src': asset('images/cuttings/Features_Cutting_01.jpg')})|raw}}
            {{widget('image', 'logo-block23', { 'src': asset('images/carousel/logo23.jpg')})|raw}}
            {{widget('content', 'name-block23', {"content":'<p><b>Michael Gresty & Irina Mladenova</b> </p>'})|raw}}
            {{widget('content', 'companyname-block23', {"content":'<p>Rifiniti</p>'})|raw}}
            {{widget('content', 'website-block23', {"content":'<p>www.rifiniti.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 24 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block24', { 'src': asset('images/cuttings/Features_Cutting_01.jpg')})|raw}}
            {{widget('image', 'logo-block24', { 'src': asset('images/carousel/logo24.jpg')})|raw}}
            {{widget('content', 'name-block24', {"content":'<p><b>Scott Pirello</b> </p>'})|raw}}
            {{widget('content', 'companyname-block24', {"content":'<p>CampusSims</p>'})|raw}}
            {{widget('content', 'website-block24', {"content":'<p>www.campusSims.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 25 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block25', { 'src': asset('images/cuttings/Features_Cutting_01.jpg')})|raw}}
            {{widget('image', 'logo-block25', { 'src': asset('images/carousel/logo25.jpg')})|raw}}
            {{widget('content', 'name-block25', {"content":'<p><b>Image Title 17</b> </p>'})|raw}}
            {{widget('content', 'companyname-block25', {"content":'<p>Oscar Macia & Xavier Bisbal</p>'})|raw}}
            {{widget('content', 'website-block25', {"content":'<p>www.forcemanager.net</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 26 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block26', { 'src': asset('images/cuttings/Features_Cutting_01.jpg')})|raw}}
            {{widget('image', 'logo-block26', { 'src': asset('images/carousel/logo26.jpg')})|raw}}
            {{widget('content', 'name-block26', {"content":'<p><b>Javier Figarola</b> </p>'})|raw}}
            {{widget('content', 'companyname-block26', {"content":'<p>ABA English</p>'})|raw}}
            {{widget('content', 'website-block26', {"content":'<p>www.abaenglish.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 27 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block27', { 'src': asset('images/cuttings/Features_Cutting_01.jpg')})|raw}}
            {{widget('image', 'logo-block27', { 'src': asset('images/carousel/logo27.jpg')})|raw}}
            {{widget('content', 'name-block27', {"content":'<p><b>Alvaro del Castillo</b> </p>'})|raw}}
            {{widget('content', 'companyname-block27', {"content":'<p>TapTap Networks</p>'})|raw}}
            {{widget('content', 'website-block27', {"content":'<p>www.taptapnetworks.com</p>'})|raw}}
        </div>
    </div>
    <!-- Slide 28 !-->
    <div class="item">
         <div class="img-post">
            {{widget('image', 'client-block28', { 'src': asset('images/cuttings/Features_Cutting_01.jpg')})|raw}}
            {{widget('image', 'logo-block28', { 'src': asset('images/carousel/logo28.jpg')})|raw}}
            {{widget('content', 'name-block28', {"content":'<p><b>Carles Puente & Ruben Bonet</b></p>'})|raw}}
            {{widget('content', 'companyname-block28', {"content":'<p>Fractus</p>'})|raw}}
            {{widget('content', 'website-block28', {"content":'<p>www.fractus.com</p>'})|raw}}
        </div>
    </div>
</div>  
</div>
<!-- Portfolio Divider -->
<div class="portfolio-divider">
	<div class="portfolio-container">
		<div class="lefttext">
			{{widget('content', 'portfolio-bar', {
  				content: '<p>See our full client portfolio</p>'
			})|raw}}
		</div>
		<div class="rightbutton">
			{{widget('button', 'portfoliobutton', {
  				'text': 'View portfolio',
  				'align': 'widget-align-center',
  				'action': 'external',
  				'url': 'http://docs.basekit.com',
  				'target': '_blank'
			})|raw}}
		</div>
	</div>
</div>
<!-- End Portfolio Divider -->


<!-- Container -->
<div class="container">

	<!-- Page Content -->
	<section class="template-content">

		<!-- Template Widgets -->

		<!-- End Template Widgets -->

		<!-- Main Widet Zone -->
	   	{{zone('main')|raw}}

	</section>
	<!-- End Page Content -->

</div>
<!-- End Container -->

{% include "includes/footer.twig" %}

{% endblock %}
 
