{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}
<div class="bk-pt-default">

    <div class="page-title">
        {{widget('pagetitle', 'title', {})|raw}}
    </div>

    <div class="container">
        <section class="template-content">

        <div class="portfolio-images">
        <!-- Homepage Logo Content -->
            <div class="homepage-logo-content">
                <div class="logo1 col4">
                    {{widget('image', 'logo1', {
                      'src': asset("/images/gallery/portfolio/aba.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo2 col4">
                    {{widget('image', 'logo2', {
                      'src': asset("/images/gallery/portfolio/abi.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo3 col4">
                    {{widget('image', 'logo3', {
                      'src': asset("/images/gallery/portfolio/agn.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo4 col4">
                    {{widget('image', 'logo4', {
                      'src': asset("/images/gallery/portfolio/air.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo5 col4">
                    {{widget('image', 'logo5', {
                      'src': asset("/images/gallery/portfolio/basekit.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo6 col4">
                    {{widget('image', 'logo6', {
                      'src': asset("/images/gallery/portfolio/be.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo7 col4">
                    {{widget('image', 'logo7', {
                      'src': asset("/images/gallery/portfolio/brand.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo8 col4">
                    {{widget('image', 'logo8', {
                      'src': asset("/images/gallery/portfolio/campus.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo9 col4">
                    {{widget('image', 'logo9', {
                      'src': asset("/images/gallery/portfolio/chan.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo10 col4">
                    {{widget('image', 'logo10', {
                      'src': asset("/images/gallery/portfolio/content.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo11 col4">
                    {{widget('image', 'logo11', {
                      'src': asset("/images/gallery/portfolio/eyeview.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo12 col4">
                    {{widget('image', 'logo12', {
                      'src': asset("/images/gallery/portfolio/fizz.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo13 col4">
                    {{widget('image', 'logo13', {
                      'src': asset("/images/gallery/portfolio/force.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo13 col4">
                    {{widget('image', 'logo13', {
                      'src': asset("/images/gallery/portfolio/fractus.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo14 col4">
                    {{widget('image', 'logo14', {
                      'src': asset("/images/gallery/portfolio/gcm.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo15 col4">
                    {{widget('image', 'logo15', {
                      'src': asset("/images/gallery/portfolio/geo.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
            <div class="logo16 col4">
                    {{widget('image', 'logo16', {
                      'src': asset("/images/gallery/portfolio/group.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo17 col4">
                    {{widget('image', 'logo17', {
                      'src': asset("/images/gallery/portfolio/handmade.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo18 col4">
                    {{widget('image', 'logo18', {
                      'src': asset("/images/gallery/portfolio/ijento.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo19 col4">
                    {{widget('image', 'logo19', {
                      'src': asset("/images/gallery/portfolio/incrowd.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo20 col4">
                    {{widget('image', 'logo20', {
                      'src': asset("/images/gallery/portfolio/jitter.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo21 col4">
                    {{widget('image', 'logo21', {
                      'src': asset("/images/gallery/portfolio/lodg.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo22 col4">
                    {{widget('image', 'logo22', {
                      'src': asset("/images/gallery/portfolio/marf.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo23 col4">
                    {{widget('image', 'logo23', {
                      'src': asset("/images/gallery/portfolio/mobile.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo24 col4">
                    {{widget('image', 'logo24', {
                      'src': asset("/images/gallery/portfolio/mysport.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo25 col4">
                    {{widget('image', 'logo25', {
                      'src': asset("/images/gallery/portfolio/nubera.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo26 col4">
                    {{widget('image', 'logo26', {
                      'src': asset("/images/gallery/portfolio/priv.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo27 col4">
                    {{widget('image', 'logo27', {
                      'src': asset("/images/gallery/portfolio/rif.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo28 col4">
                    {{widget('image', 'logo28', {
                      'src': asset("/images/gallery/portfolio/scy.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo29 col4">
                    {{widget('image', 'logo29', {
                      'src': asset("/images/gallery/portfolio/social.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo30 col4">
                    {{widget('image', 'logo30', {
                      'src': asset("/images/gallery/portfolio/taptap.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="logo31 col4">
                    {{widget('image', 'logo31', {
                      'src': asset("/images/gallery/portfolio/yui.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
            </div>
            <!-- End Homepage Logo Content -->

        </div>

        </section>
    </div>

</div>

{% include "includes/footer.twig" %}

{% endblock %}
