{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}
<div class="bk-pt-default">

	<div class="page-title">
		{{widget('pagetitle', 'title', {})|raw}}
	</div>

	<div class="container">
		<section class="template-content">

            <div class="team-images">
            <!-- Homepage Logo Content -->
                <div class="homepage-logo-content space">
                    <div class="team1 col4">
                        {{widget('image', 'team1', {
                          'src': asset("/images/gallery/team/team1.jpg"),
                          'align': 'widget-align-center'
                        })|raw}}
                        <div class="team-content">
                          {{widget('content', 'team1-title', {
                            content: '<h4>Dominic Endicott</h4>'
                          })|raw}}
                          {{widget('content', 'team1-description', {
                            content: '<p>General Partner</p>'
                          })|raw}}
                        </div>
                    </div>
                    <div class="team2 col4">
                        {{widget('image', 'team2', {
                          'src': asset("/images/gallery/team/team2.jpg"),
                          'align': 'widget-align-center'
                        })|raw}}
                        <div class="team-content">
                            {{widget('content', 'team2-title', {
                              content: '<h4>Carles Ferrer</h4>'
                            })|raw}}
                            {{widget('content', 'team2-description', {
                              content: '<p>General Partner</p>'
                            })|raw}}
                        </div>
                    </div>
                    <div class="team3 col4">
                        {{widget('image', 'team3', {
                          'src': asset("/images/gallery/team/team3.jpg"),
                          'align': 'widget-align-center'
                        })|raw}}
                        <div class="team-content">
                        {{widget('content', 'team3-title', {
                          content: '<h4>Daniel Sánchez</h4>'
                        })|raw}}
                        {{widget('content', 'team3-description', {
                          content: '<p>General Partner</p>'
                        })|raw}}
                        </div>
                    </div>
                    <div class="team4 col4">
                        {{widget('image', 'team4', {
                          'src': asset("/images/gallery/team/team4.jpg"),
                          'align': 'widget-align-center'
                        })|raw}}
                        <div class="team-content">
                        {{widget('content', 'team4-title', {
                          content: '<h4>Jordi Viñas</h4>'
                        })|raw}}
                        {{widget('content', 'team4-description', {
                          content: '<p>General Partner</p>'
                        })|raw}}
                        </div>
                    </div>
                </div>
                <div class="homepage-logo-content">
                    <div class="team5 col5">
                        {{widget('image', 'team5', {
                          'src': asset("/images/gallery/team/team5.jpg"),
                          'align': 'widget-align-center'
                        })|raw}}
                        <div class="team-content">
                        {{widget('content', 'team5-title', {
                          content: '<h4>Alfonso Bassols</h4>'
                        })|raw}}
                        {{widget('content', 'team5-description', {
                          content: '<p>Operations & Finance</p>'
                        })|raw}}
                        </div>
                    </div>
                    <div class="team6 col5">
                        {{widget('image', 'team6', {
                          'src': asset("/images/gallery/team/team6.jpg"),
                          'align': 'widget-align-center'
                        })|raw}}
                        <div class="team-content">
                        {{widget('content', 'team6-title', {
                          content: '<h4>Magnus Rinnan Gaarder</h4>'
                        })|raw}}
                        {{widget('content', 'team6-description', {
                          content: '<p>Investment Manager</p>'
                        })|raw}}
                        </div>
                    </div>
                    <div class="team7 col5">
                        {{widget('image', 'team7', {
                          'src': asset("/images/gallery/team/team7.jpg"),
                          'align': 'widget-align-center'
                        })|raw}}
                        <div class="team-content">
                        {{widget('content', 'team7-title', {
                          content: '<h4>Guillem Sague</h4>'
                        })|raw}}
                        {{widget('content', 'team7-description', {
                          content: '<p>Investment Manager</p>'
                        })|raw}}
                        </div>
                    </div>
                    <div class="team8 col5">
                        {{widget('image', 'team8', {
                          'src': asset("/images/gallery/team/team8.jpg"),
                          'align': 'widget-align-center'
                        })|raw}}
                        <div class="team-content">
                        {{widget('content', 'team8-title', {
                          content: '<h4>Anna Daviau</h4>'
                        })|raw}}
                        {{widget('content', 'team8-description', {
                          content: '<p>Portfolio Manager</p>'
                        })|raw}}
                        </div>
                    </div>
                    <div class="team9 col5">
                        {{widget('image', 'team9', {
                          'src': asset("/images/gallery/team/team9.jpg"),
                          'align': 'widget-align-center'
                        })|raw}}
                        <div class="team-content">
                        {{widget('content', 'team9-title', {
                          content: '<h4>Bob Borges</h4>'
                        })|raw}}
                        {{widget('content', 'team9-description', {
                          content: '<p>Investment Manager</p>'
                        })|raw}}
                        </div>
                    </div>
                </div>
            </div>
		</section>
	</div>
</div>

{% include "includes/footer.twig" %}

{% endblock %}
