{% extends "layout.twig" %}

{% block content %}

{% include "includes/header.twig" %}
<div class="bk-pt-default">

	<div class="page-title">
		{{widget('pagetitle', 'title', {})|raw}}
	</div>

	<div class="container">
		<section class="template-content">

        <div class="portfolio-images">
        <!-- Homepage Logo Content -->
            <div class="homepage-logo-content space">
                <div class="team1 col4">
                    {{widget('image', 'team1', {
                      'src': asset("/images/gallery/team/team1.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="team2 col4">
                    {{widget('image', 'team2', {
                      'src': asset("/images/gallery/team/team2.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="team3 col4">
                    {{widget('image', 'team3', {
                      'src': asset("/images/gallery/team/team3.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="team4 col4">
                    {{widget('image', 'team4', {
                      'src': asset("/images/gallery/team/team4.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                </div>
                            <div class="homepage-logo-content">
                <div class="team5 col5">
                    {{widget('image', 'team5', {
                      'src': asset("/images/gallery/team/team5.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="team6 col5">
                    {{widget('image', 'team6', {
                      'src': asset("/images/gallery/team/team6.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="team7 col5">
                    {{widget('image', 'team7', {
                      'src': asset("/images/gallery/team/team7.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="team8 col5">
                    {{widget('image', 'team8', {
                      'src': asset("/images/gallery/team/team8.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
                <div class="team9 col5">
                    {{widget('image', 'tea9', {
                      'src': asset("/images/gallery/team/team9.jpg"),
                      'align': 'widget-align-center'
                    })|raw}}
                </div>
            </div>
        </div>

		</section>
	</div>

</div>

{% include "includes/footer.twig" %}

{% endblock %}
